:root {
    --base-color: #027368;
    --base-color-2: #025959;
    --base-color-3: #024873;
    --base-color-4: #587AA6;
    --base-color-5: #8E9EBF;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}